extends layout

block content
	//navbar
	.w3-top
		.w3-bar.w3-theme-d2.w3-left-align.w3-large#navBar.w3-black
			a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu")
				i.fa.fa-bars
			a(href="/home").w3-bar-item.w3-theme-d4.w3-button.w3-padding-large.w3-hover-white
				i.fa.fa-home.w3-margin-right
				i Schmocial
			a(href="#" title="News").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-globe
			a(href="/profile/"+username+":"+utilizador.name title="Profile").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-user
			a(href="#" title="Messages").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-envelope
			.w3-dropdown-hover.w3-right(style="margin-right:5%")
				button.w3-button Menu
				.w3-dropdown-content.w3-bar-block.w3-card-4
					if utilizador.access
						a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-black(id="exporta" title="My Account") Export
							i.fas.fa-download.w3-margin
					a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-black(href="/users/logout" title="My Account") Logout
						i.fas.fa-sign-out-alt.w3-margin
	//Grid
	.w3-container.w3-content(style="max-width:1400px;margin-top:80px")
		.w3-row
			//left Column
			.w3-col.m3(style="position:sticky; top:0;")
				//Profile
				.w3-card.w3-round.w3-black
					.w3-container
						h4.w3-center= utilizador.username
						h4.w3-center(hidden id="userId" name=username)= utilizador.name
						p.w3-center
							if(utilizador.picture)
								img.w3-circle(id="fotoPerfil" src="images/profile/"+utilizador.picture style="height:120px;width:120px" alt="Avatar" onload="getUser('"+username+"');")
							else
								img.w3-circle(id="fotoPerfil" src="/w3images/avatar3.png" style="height:120px;width:120px" alt="Avatar" onload="getUser('"+username+"');")
						hr
						if utilizador.gender
							p 
								i.fa.fa-pencil-alt.fa-fw.w3-margin-right.w3-text-theme
								p=utilizador.gender
						p 
							i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
							p=utilizador.address.city+", " + utilizador.address.country
						p 
							i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
							p= utilizador.age + " years"
				br
				///Accordion
				.w3-card.w3-round
					.w3-black
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="myFunction('Demo1')")
							i.fa.fa-circle-notch.fa-fw.w3-margin-right.w3-text-theme
							p Groups
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="location.href='/events';")
							i.fa.fa-calendar-check.fa-fw.w3-margin-right.w3-text-theme
							p Events
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="location.href='/friends';")
							i.fa.fa-users.fa-fw.w3-margin-right.w3-text-theme
							p Friends
				br
				.w3-card.w3-round.w3-black.w3-hide-small
					.w3-container
						p Hashtags
						p(id="hashtags") 
				br
			//Middle Column
			.w3-col.m7
				.w3-row-padding
					.w3-col.m12
						.w3-card.w3-round.w3-black
							.w3-container.w3-padding
								form.w3-container(action="/insertPost" method="POST" enctype="multipart/form-data")
									h6.w3-opacity Schmocial post
									.w3-container.w3-border.w3-padding
										input.w3-border-0.w3-animate-input.w3-padding(type='text' required style="width:70%" name="descricao" placeholder="Status: Feeling Blue") 
										label(style="margin-left:3%") Status: 
										select(name="state")
											option(value="private") Private
											option(value="public") Public  
										label(for="fileInput" style="margin-left:3%")
											i.fa.fa-camera
										input.w3-input.w3-boarder.w3-light-grey(id="fileInput" style="display: none;" type='file', name="ficheiro")
									.w3-container.w3-padding(id="hashtagContainer") 								
										input.w3-border-0.w3-padding.w3-round-large(style="width:26%" type="text" name="hashtags[]" placeholder="Insert an hashtag")
									button.w3-button.w3-margin-bottom(type="button" id="addHashtag") 
										i.fa.fa-chevron-up  Add Hashtag
									button.w3-button.w3-margin-bottom(type="button" id="removeHashtag") 
										i.fa.fa-chevron-down  Remove Hashtag
									br
									input.w3-btn.w3-blue-grey(type="submit", value="Post")
				.w3-col.m12(id="conteudoPosts")
					each p in posts
						if p.state=="public"			
							.w3-container.w3-card.w3-black.w3-round.w3-margin
								br
								img.w3-left.w3-circle.w3-margin-right(style="width:60px" src="/w3images/avatar3.png" alt="Avatar")
								span.w3-right.w3-opacity= p.date
								h4= p.owner.split(":")[1]
								br
								hr.w3-clear
								p= p.content
								if (p.picture)
									img.w3-margin-bottom(src="images/"+p.picture style="width:100%")
								if p.votes
									- var cont = 0
									each v in p.votes
										if v==username 
											- cont=1
									if cont == 1
										button.w3-button.w3-hover-white(type="button" id="downVoteBtn"+p._id onclick="voteDown('"+username+"', '"+p._id+"')")
											i.fa.fa-chevron-down(id="downVote"+p._id)  Downvote
									else
										button.w3-button.w3-hover-white(type="button" id="upVoteBtn"+p._id onclick="voteFunc('"+username+"', '"+p._id+"')")
											i.fa.fa-chevron-up(id="upVote"+p._id)  Upvote 
									.w3-card.w3-black(style="display: inline")
										p(id=p._id style="display: inline")= p.votes.length  
										i.far.fa-thumbs-up(style='font-size:24px; padding: 5px; display: inline;')  
								if utilizador.facebook
									a(href="/facebook/post")
										i.fab.fa-facebook.fa-2x.w3-hover-white.w3-circle(style="background-color:#3b5998;cursor: pointer; padding:1%") 
								.w3-container.w3-card(class="commentSection" name=p._id) 
									if p.comments
										each m in p.comments
											if m.picture
												if(utilizador.picture==m.picture)
													img.w3-circle(id="image"+m._id src="images/profile/"+utilizador.picture style="height:48px;width:48px;display:inline-block;margin-right:10px;" alt="Avatar")
												else
													img.w3-circle(id="image"+m._id src="images/profile/"+m.picture style="height:48px;width:48px;display:inline-block;margin-right:10px;" alt="Avatar")
											else
												img.w3-circle(id="image"+m._id src="/w3images/avatar3.png" style="height:48px;width:48px;display:inline-block;margin-right:10px;" alt="Avatar")
											p.w3-padding.w3-round-large.w3-light-grey(id="comment"+m._id style="display:inline-block;width:90%") 
												span(style="color:blue; font-weight: bold")= m.user.split(":")[1]
												span(style="margin-left:1%")= m.message
												if m.user==''+utilizador._id+':'+utilizador.name+''
													i.fa.fa-trash.fa-lg(style="float:right" onclick="removeComent('"+m._id+"','"+p._id+"')")
								textarea.w3-padding.w3-round-large.w3-light-grey(id="NewComment", name=p._id, cols="78%", rows="1" placeholder="Enter a new comment")
				.w3-container#chatPop.w3-display-bottomright(style="position: fixed;height:55%;width:20%;bottom: 0;display:none;margin-right:21%;background-color: #fff;right: 0;")
					.w3-container.w3-light-grey.w3-display-topleft(style="height:50px; width:100%;")
						.w3-margin-top
							span.w3-display-middle(id="chatUserName" class="time-right")
							span.w3-button.w3-xlarge.w3-transparent.w3-display-topright(onclick="document.getElementById('chatPop').style.display='none'" title='Close Modal') &times;
						br 
					.w3-container(id="chatId" style="height:60%;width:100%;margin-right:21%; margin-top:20%;background-color: #fff;right: 0;flex-wrap: wrap;overflow-y: auto;")
					.w3-container.w3-display-bottomleft(style="width:100%")
						input.w3-input.w3-borderless.w3-margin-bottom(type="text" name="message" id="message" placeholder="Write a mensage" style="width:100%") 
						//Right Column
			.w3-col.m2(style="position:sticky; top:0;")
				.w3-card.w3-round.w3-black.w3-center(id="conteudoEventos")
				br
				.w3-card.w3-round.w3-black.w3-center.w3-padding
					.w3-container(id="friendsContainer") 
				br
				.w3-card.w3-round.w3-black.w3-padding-16.w3-center(id="chatUsers") 
				br 
		footer.w3-container.w3-black
			address Copyright@Schmocial 2018
