extends layout

block content
	//navbar
	.w3-top
		.w3-bar.w3-left-align.w3-large#navBar.w3-black
			a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu")
				i.fa.fa-bars
			a(href="#").w3-bar-item.w3-button.w3-padding-large.w3-hover-white
				i.fa.fa-home.w3-margin-right
				i Schmocial
			a(href="#" title="News").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-globe
			a(href="#" title="Account Settings").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-user
			a(href="#" title="Messages").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-envelope
			a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(title="My Account")
				img.w3-circle(src="/w3images/avatar2.png" style="height:23px;width:23px" alt="Avatar")
			.w3-dropdown-hover-w3-hide-small
				button.w3-button.w3-padding-large.w3-hover-white(title="Notifications")
					i.fa.fa-bell
					span.w3-badge.w3-right.w3-small.w3-white 3
				.w3-dropdown-content.w3-card-4.w3-bar-block(style="width:300px")
					a.w3-bar-item.w3-button(href="#") One new friend request
					a.w3-bar-item.w3-button(href="#") John Doe posted on your wall
					a.w3-bar-item.w3-button(href="#") Jane upvoted your post
	//Grid
	.w3-container.w3-content(style="max-width:1400px;margin-top:80px")
		.w3-row
			//left Column
			.w3-col.m3
				//Profile
				.w3-card.w3-round.w3-black
					.w3-container
						h4.w3-center My Profile
						p.w3-center
							img.w3-circle(src="/w3images/avatar3.png" style="height:106px;width:106px" alt="Avatar" onload="getUser('"+username+"');")
						hr
						p 
							i.fa.fa-pencil-alt.fa-fw.w3-margin-right.w3-text-theme
							p Designer, UI
						p 
							i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
							p London, UK
						p 
							i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
							p April 1, 1988
				br
				///Accordion
				.w3-card.w3-round
					.w3-black
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="myFunction('Demo1')")
							i.fa.fa-circle-notch.fa-fw.w3-margin-right
							p Groups
						.w3-hide.w3-container#Demo1
							p Some text
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="myFunction('Demo2')")
							i.fa.fa-calendar-check.fa-fw.w3-margin-right
							p Events
						.w3-hide.w3-container#Demo2
							p Some text
						button.w3-button.w3-block.w3-left-align.w3-hover-white(onclick="location.href='/friends';")
							i.fa.fa-users.fa-fw.w3-margin-right
							p Friends
						.w3-hide.w3-container#Demo3
							.w3-row-padding
								br
								.w3-half
									img.w3-margin-bottom(src="/w3images/lights.jpg" style="width:100%")
								.w3-half
									img.w3-margin-bottom(src="/w3images/nature.jpg" style="width:100%")
								.w3-half
									img.w3-margin-bottom(src="/w3images/mountains.jpg" style="width:100%")
								.w3-half
									img.w3-margin-bottom(src="/w3images/forest.jpg" style="width:100%")
								.w3-half
									img.w3-margin-bottom(src="/w3images/nature.jpg" style="width:100%")
								.w3-half
									img.w3-margin-bottom(src="/w3images/snow.jpg" style="width:100%")
				br
				.w3-card.w3-round.w3-black.w3-hide-small
					.w3-container
						p Hashtags
						p(id="hashtags") 
				br
				//Alert Box
				.w3-container.w3-display-container.w3-round.w3-border.w3-margin-bottom.w3-hide-small.w3-black
					span.w3-button.w3-display-topright(onclick="this.parentElement.style.display='none'")
						i.fa.fa-remove
					p
						strong Hey!
					p People are looking at your profile. Find out who.
			//Middle Column
			.w3-col.m7
				.w3-row-padding
					.w3-col.m12
						.w3-card.w3-round.w3-black
							.w3-container.w3-padding
								form.w3-container(action="/insertPost" method="POST" enctype="multipart/form-data")
									h6.w3-opacity Schmocial post
									.w3-container.w3-border.w3-padding
										input.w3-animate-input(type='text' required style="width:70%" name="descricao" placeholder="Status: Feeling Blue") 
										label(style="margin-left:3%") Status: 
										select(name="state")
											option(value="private") Private
											option(value="public") Public  
										label(for="fileInput" style="margin-left:3%")
											i.fa.fa-camera
										input.w3-input.w3-boarder.w3-light-grey(id="fileInput" style="display: none;" type='file', name="ficheiro")
									.w3-container.w3-padding(id="hashtagContainer") 								
										input.w3-padding.w3-round-xxlarge(style="width:26%" type="text" name="hashtags[]" placeholder="Insert an hashtag")
									button.w3-button.w3-margin-bottom(type="button" id="addHashtag") 
										i.fa.fa-chevron-up  Add Hashtag
									button.w3-button.w3-margin-bottom(type="button" id="removeHashtag") 
										i.fa.fa-chevron-down  Remove Hashtag
									br
									input.w3-btn.w3-blue-grey(type="submit", value="Post")  
				.w3-col.m12(id="conteudoPosts")
					each p in posts
						if p.state=="public"			
							.w3-container.w3-card.w3-black.w3-round.w3-margin
								br
								img.w3-left.w3-circle.w3-margin-right(style="width:60px" src="/w3images/avatar6.png" alt="Avatar")
								span.w3-right.w3-opacity 32 min
								h4 Angie Jane
								br
								hr.w3-clear
								p= p.title 
								if (p.picture)
									img.w3-margin-bottom(src="images/"+p.picture style="width:100%")
								p= p.content
								if p.votes
									.w3-card.w3-black(style="display: inline")
										p.w3-margin-bottom(id=p._id style="display: inline")= p.votes.length  
										i.far.fa-thumbs-up(style='font-size:24px; padding: 5px; display: inline;')   
								button.w3-button.w3-margin-bottom(type="button" id="teste" onclick="voteFunc('"+username+"', '"+p._id+"')")
									i.fa.fa-chevron-up  Upvote
								button.w3-button.w3-margin-bottom(type="button")
									i.fa.fa-chevron-down  Downvote 
								button.w3-button.w3-margin-bottom(type="button")
									i.fa.fa-comment  Comment 
								.w3-container.w3-card(class="commentSection" name=p._id) 
									if p.comments
										each m in p.comments
												p= m.user.split(":")[1] + "        "+ m.message
								textarea.w3-padding.w3-round-large.w3-light-grey(id="NewComment", name=p._id, cols="77%", rows="1" placeholder="Enter a new comment")
				//Right Column
			.w3-col.m2
				.w3-card.w3-round.w3-black.w3-center
					.w3-container
						p Upcoming Events:
						img(src="/w3images/forest.jpg" alt="Forest" style="width:100%;")
						p
							strong Holiday
						p Friday 15:00
						p
							button.w3-button.w3-block.w3-white Info
				br
				.w3-card.w3-round.w3-black.w3-center
					.w3-container(id="friendsContainer") 
				br
				.w3-card.w3-round.w3-black.w3-padding-16.w3-center
					p ADS
				br
				.w3-card.w3-round.w3-black.w3-padding-32.w3-center
					p
						i.fa.fa-bug.w3-xxlarge

		footer.w3-container.w3-black
			address Copyright@Schmocial 2018
